.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.db
db.sqlite3
.DS_Store
.env
.ipynb_checkpoints
videos/
captures/
tmp/
kokoro-v1.0.onnx
voices-v1.0.bin
C:\Users\hclar\.gemini\antigravity\brain\
